*{
    margin: 0;
    padding: 0;
    font-family: lato;
}

.slider-frame{
    width: 480px;
}

.slider-frame ul{
    display: flex;
}
.slider-frame li{
    list-style: none;
    width: 100%;
}
.imgConf1{
    width: 400px;
    margin-right: 35px;
}
.imgConf2{
    width: 250px;
    margin-right: 35px;
}
.imgConf3{
    width: 400px;
    height: 300px;
}
@media(max-width: 768px){
    .slider-frame ul{
        display:block;
    }
    .imgConf2{
        width: 400px;
        margin-right: 35px;
    }
}



